.modal a:hover {
  color: var(--mantine-color-anchor);
}

.actions a {
  text-align: center;
}

.paper {
  --paper-shadow: var(--mantine-shadow-xs);
  transition: box-shadow 0.2s ease-in-out;
}

.paper:hover {
  --paper-shadow: var(--mantine-shadow-sm);
}
