/* Activity */

.thumbnail {
  border-radius: 8px;
}

.card .content {
  flex-grow: 1;
}

.card .logo {
  flex-shrink: 0;
}

/* Activity Detail */

.cover {
  width: 100%;
  height: auto;
}

.embedded > div > div {
  margin: auto;
}
