/* Index */

.chainIcon {
  display: block;
  height: 100%;
}

.actions a {
  text-align: center;
}

.actions div {
  background: var(--mantine-color-white);
  color: var(--mantine-primary-color-6);
  border-radius: var(--mantine-radius-xs);
  padding: 8px;
  margin: 0 auto 4px;
}

.actions svg {
  display: block;
  margin: auto;
  margin-bottom: 4px;
}

.actions p {
  font-size: 12px;
}

.tabs {
  display: flex;
  background-color: var(--mantine-color-gray-2);
  padding: 4px;
  border-radius: var(--mantine-radius-xl);
}

.tabs button {
  flex-grow: 1;
  font-weight: 700;
  color: var(--mantine-color-dimmed);
}

.tabs button[data-active] {
  color: var(--mantine-color-white);
}

/* CreateWallet */

.bg {
  position: absolute;
  top: 0;
  left: 0;
}

.bg img {
  width: 100%;
  height: auto;
}

.content {
  position: relative;
  top: 75vw;
}
