/* Index */

.actions a {
  text-align: center;
}

.tabs {
  display: flex;
  background-color: var(--mantine-color-gray-2);
  padding: 4px;
  border-radius: var(--mantine-radius-xl);
}

.tabs button {
  flex-grow: 1;
  font-weight: 700;
  color: var(--mantine-color-dimmed);
}

.tabs button[data-active] {
  color: var(--mantine-color-white);
}

.icon {
  border-radius: 100px;
  overflow: hidden;
}

/* CreateWallet */

.bg {
  position: absolute;
  top: 0;
  left: 0;
}

.bg img {
  width: 100%;
  height: auto;
}

.content {
  position: relative;
  top: 75vw;
}
