/* Footer Start */

.footer a {
  text-align: center;
  padding: 8px 0 24px;
}

.footer svg {
  display: block;
  margin: auto;
  margin-bottom: 4px;
}

.footer p {
  font-size: 12px;
}

/* Footer End */
