body {
  background: hsl(210, 1%, 95%);
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: unset;
}

.c-pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.absolute-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
