/* Override @mantine/core */

.mantine-Tabs-tab {
  color: var(--mantine-color-gray-5);

  &[data-active] {
    color: var(--tabs-color);
  }
}

.mantine-Modal-title {
  font-weight: 500;
  font-size: var(--mantine-font-size-lg);
}

.mantine-Stepper-content {
  padding-top: 32px;
}
